<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NOVO POST</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900">
  <main class="bg-gray-400 max-w-screen-lg p-8 m-auto space-y-8">
    <header class="space-y-4">
      <h2 class="text-lg font-semibold">CABEÇALHO</h2>

      <div class="flex flex-col">
        <label for="titleHeader">Titulo:</label>
        <input id="titleHeader" type="text" class="px-4 py-2 border bg-gray-200">
      </div>

      <div class="flex flex-col">
        <label for="coverHeader">CAPA:</label>
        <input id="coverHeader" type="text" class="px-4 py-2 border bg-gray-200">
      </div>

      <div class="flex flex-col">
        <label for="descriptionHeader">DESCRIÇÃO:</label>
        <textarea name="" id="descriptionHeader" cols="30" rows="5" class="border bg-gray-200 p-4"></textarea>
      </div>
      
      <div class="flex flex-col">
        <label for="authorHeader">AUTOR:</label>
        <select class="border bg-gray-200" id="authorHeader">
          <option selected value="Gabriel Andrade">Gabriel Andrade</option>
        </select>
      </div>

      <div class="flex flex-col">
        <label for="categoriesHeader">CATEGORIAS:</label>
        <input id="categoriesHeader" type="text" class="px-4 py-2 border bg-gray-200" placeholder="categoria 1; categoria 2; categoria 3">
      </div>

      <div class="flex flex-col">
        <label for="">PALAVRAS CHAVE:</label>
        <input id="keywordsHeader" type="text" class="px-4 py-2 border bg-gray-200" placeholder="keyword 1; keyword 2; keyword 3">
      </div>
    </header>
    <hr class="border border-black">

    <section class="space-y-4 border">
      <h2 class="text-lg font-semibold">CONTEUDO</h2>

      <!-- CONTEUDO -->
      <section id="contentSection" class="border border-black p-4"></section>

      <!-- CONTROLES -->
      <div class="border p-4">
        <button onclick="newContent('h2')" class="px-4 py-1 bg-gray-600 text-white font-semibold">h2</button>
        <button class="px-4 py-1 bg-gray-600 text-white font-semibold">li</button>
        <button class="px-4 py-1 bg-gray-600 text-white font-semibold">img</button>
        <button class="px-4 py-1 bg-gray-600 text-white font-semibold">iframe</button>
      </div>
    </section>
  </main>
</body>
</html>


<script>
  function getData(){
    return {
      metadata:{
        title: document.getElementById('titleHeader').value,
        cover: document.getElementById('coverHeader').value,
        description: document.getElementById('descriptionHeader').value,
        author: document.getElementById('authorHeader').value,
        author: document.getElementById('authorHeader').value,
        categories: document.getElementById('categoriesHeader').value.split(';'),
        keywords: document.getElementById('keywordsHeader').value.split(';')
      },
      content:[]
    }
  }



  let contId = 0
  function newContent(type){
    contId++
    const contentSection = document.querySelector('#contentSection')
    const data = {
      type: type
    }


    contentSection.innerHTML += ` 
      <div id="content${contId}" name="${type}">
        <div class="flex justify-between pb-2">
          <h2 class="text-lg  px-4 py-1 bg-gray-600 text-white font-semibold">${data.type}</h2>
          <button onclick="removeContent('content${contId}')" class="px-4 py-1 bg-red-600 text-white font-semibold">APAGAR</button>
        </div>
        <textarea name="" id="" cols="30" rows="1" class="border w-full min-h-20 max-h-20 p-4" placeholder="content${contId}"></textarea>
      </div>
    `
  }

  function removeContent(id){
    document.querySelector('#'+id).remove()
  }
  

</script>