<div class="py-4 px-16 bg-gray-800 text-gray-100 flex items-center justify-between text-lg ">

    <div>
        <img src="https://geekblog.com.br/wp-content/uploads/2020/07/logo-geekblog.png.webp" alt="logo" class="h-16">
    </div>

    <nav class="space-x-4">
        <a class="hover:border-b-4 border-red-500 pb-1 duration-100 ease-linear" href="#">Início</a>
        <a class="hover:border-b-4 border-red-500 pb-1 duration-100 ease-linear" href="#">Artigos</a>
        <a class="hover:border-b-4 border-red-500 pb-1 duration-100 ease-linear" href="#">Tutoriais</a>
        <a class="hover:border-b-4 border-red-500 pb-1 duration-100 ease-linear" href="#">Recursos</a>
        <a class="hover:border-b-4 border-red-500 pb-1 duration-100 ease-linear" href="#">Sobre nós</a>
        <a class="hover:border-b-4 border-red-500 pb-1 duration-100 ease-linear" href="#">Contato</a>
        <a class="hover:border-b-4 border-red-500 pb-1 duration-100 ease-linear" href="#">Política de Privacidade</a>
    </nav>

    <div class="w-96 relative">
        <input type="text" class="border w-full px-4 py-2 focus:outline-none text-gray-600 pr-14" placeholder="Pesquisar">

        <button class="absolute text-gray-800 right-4 text-2xl top-1/2 transform -translate-y-1/2">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>

    <h2 id="dateNow"></h2>
    <button class="p-2 text-3xl">
        <i class="fa-solid fa-bars"></i>
    </button>
</div>


<!-- componente Ticker -->
<div class="p-6 bg-gray-700 mb-5 text-white relative overflow-hidden">
    <span id="ticker" class="absolute -right-[100%] top-1/2 transform -translate-y-1/2 whitespace-nowrap">BitCoin, dolar, euro</span>
</div>
<script>
    let Ticker = document.getElementById('ticker')
    let TickerX = -100
    let TickerD = 1
    function render(){
        TickerX += TickerD
        Ticker.style.right = TickerX + 'px'

        if(TickerX >= window.innerWidth){
            TickerX = -100 - Ticker.offsetWidth
        }

        requestAnimationFrame(render)
    }
    requestAnimationFrame(render)
</script>


<script>


function obterDataFormatada() {
    // Array com os nomes dos dias da semana
    const diasDaSemana = ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado'];

    // Array com os nomes abreviados dos meses
    const meses = ['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez'];

    // Obter a data atual
    const dataAtual = new Date();

    // Obter o dia da semana e formatar
    const diaSemana = diasDaSemana[dataAtual.getDay()];

    // Obter o dia do mês, mês e ano
    const dia = dataAtual.getDate();
    const mesAbreviado = meses[dataAtual.getMonth()];
    const ano = dataAtual.getFullYear();

    // Formatando a saída
    const dataFormatada = `${diaSemana}, ${dia} ${mesAbreviado} ${ano}`;

    return dataFormatada;
}


    document.getElementById('dateNow').innerText = obterDataFormatada()
</script>