


<div class="py-4 lg:px-16 px-8 bg-gray-800 text-gray-100 sm:flex  grid grid-cols-2 gap-4 items-center justify-between text-lg ">
    <a href="/" class="row-start-1 flex-none" >
        <img src="https://geekblog.com.br/wp-content/uploads/2020/07/logo-geekblog.png.webp" alt="logo" class="h-16 flex-none" >
    </a>

    <nav class="space-x-4 hidden 2xl:block navHidden">
        <a class="hover:border-b-4 border-red-500 pb-1 duration-100 ease-linear" href="#">Início</a>
        <a class="hover:border-b-4 border-red-500 pb-1 duration-100 ease-linear" href="#">Artigos</a>
        <a class="hover:border-b-4 border-red-500 pb-1 duration-100 ease-linear" href="#">Tutoriais</a>
        <a class="hover:border-b-4 border-red-500 pb-1 duration-100 ease-linear" href="#">Recursos</a>
        <a class="hover:border-b-4 border-red-500 pb-1 duration-100 ease-linear" href="#">Sobre nós</a>
        <a class="hover:border-b-4 border-red-500 pb-1 duration-100 ease-linear" href="#">Contato</a>
        <a class="hover:border-b-4 border-red-500 pb-1 duration-100 ease-linear" href="#">Política de Privacidade</a>
    </nav>

    <div class="relative col-span-2 sm:col-span-1 m-auto sm:m-0 w-full md:max-w-96 ">
        <input type="text" class="border w-full px-4 py-2 focus:outline-none text-gray-600 pr-14" placeholder="Pesquisar">

        <button class="absolute text-gray-800 right-4 text-2xl top-1/2 transform -translate-y-1/2">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>



    <h2 class="hidden  lg:block "><%= dateNow  %></h2>
    
    <!-- menu Btn -->
    <button onclick="OpenMenu()" class="p-2 text-3xl row-start-1 ml-auto sm:ml-0">
        <i class="fa-solid fa-bars"></i>
    </button>
</div>


<!-- componente Ticker -->
<%- include('../ticker/ticker.ejs') %>

<!-- Menu lateral -->
<%- include('../sidebar/sidebar.ejs') %>




<script>
    function OpenMenu(){
        let lateralMenu = document.getElementById('lateralMenu')
        
        lateralMenu.style.display = 'block'
        setTimeout(() => {
            lateralMenu.style.right = '0px'
        }, 50);

    }
</script>